$text--base-color: #fff;
$link--hover-color: rgb(255, 204, 108);
$invoice--border-color: #ccc;
$button--border-color: #e8e8e8;
$button--active-color: rgb(227, 227, 227);

$fof--Trebuchet: 'Trebuchet MS', sans-serif;